html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$color-black: #333;
$color-blue: rgb(5, 112, 218);
$color-green: rgb(7, 164, 54);
$color-blue-black: rgb(6, 30, 90);
$color-solid: rgb(223, 226, 237);
$color-red: rgb(243, 61, 5);

.g-color-black {
  color: $color-black;
}

.g-color-blue {
  color: $color-blue;
}

.g-color-green {
  color: $color-green;
}

.g-color-blue-black {
  color: $color-blue-black;
}

.g-color-red {
  color: $color-red
}

.ml-15 {
  margin-left: 15px;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.text-align-center {
  text-align: center;
}

.flex-align-center {
  display: flex;
  justify-content: center;
}

.border-bottom-width {
  border-bottom: 1px solid $color-solid;
  margin: 20px 0;
}